body {
    margin: 0;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 150%;
}
h1 {
    color: #222831;
    font-size: 5.5rem;
    margin: 50px auto 0px auto;
    font-family: 'Tinos', serif;
}

h2 {
    color: #222831;
    margin-top: 0;
    font-family: 'Adamina', serif;
    font-size: 1.3rem;

}

h3 {
    color: #222831;
    margin-top: 0;
    font-family: 'Adamina', serif;

}


/* //////////////Classes///////////////// */

.top-container {
    background-color: #00ADB5;
    position: relative;
    padding-top: 100px;
}
.middle-container {
}

.bottom-container {
}
.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    top: 300px;
    left: 300px;
}

.top-cloud {
    position:absolute;
    right: 400px;
    top: 50px;
}

.oasis {
    margin: 0px auto 0px auto;
}
.skillsimg {
    -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.circular {
    border-radius: 100%;
}

.footer-link {
    color: #222831;
}
.btn {
    color: #222831;
}
