.headnav {
    padding-top: 15px;
    color: black;
    text-align: center;
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
  }

  .marble-background {
    background-image: url(../Images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: auto;
  
  }


  .carousel {
    position: relative; /* Ensure the carousel is relatively positioned */
  }
  
  .carousel-button {
    position: absolute;
    bottom: 0px; /* Adjust the value as needed */
    right: 0px; /* Adjust the value as needed */
  }