body {
    margin: 0;
    color: #050505;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
}
h1 {
    color: #222831;
    font-size: 5.5rem;
    line-height: 2;
    margin: 50px auto 0px auto;
    font-family: 'Tinos', serif;
}

h2 {
    color: #222831;
    line-height: 1;
    font-family: 'Adamina', serif;
    font-size: 2.3rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #222831;
    font-family: 'Adamina', serif;
}

p {
    line-height: 1.5;
}

hr {
    border:double #00ADB5 6px;
    border-bottom: none;

    width: 60%;
}

/* //////////////Classes///////////////// */

.top-container {
    background-color: #00ADB5;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    margin: 50px 0;
}

.pro {
    text-decoration: underline;
}
.intro {
    width: 30%;
    margin: auto;
}

.bottom-cloud {
    position: absolute;
    top: 300px;
    left: 200px;
}

.top-cloud {
    position:absolute;
    right: 400px;
    top: 50px;
}

.oasis {
    margin: 0px auto 0px auto;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skillsimg {
    width: 25%;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    float: left;
    margin-right: 30px;
}

.educationimg {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.hrclear {
    clear: right;
}

.circular {
    border-radius: 100%;
}

.footer-link {
    color: #222831;
}
.btn {
    color: #222831;
}
